<html>
<head>
    <title>To-Do App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 style="align-items: center">To-Do List</h1>
    <form>
        <label for="title">Enter the Title</label>
        <input type="text" id="title" placeholder="title" required>
        <label for="desc">Enter the Description</label>
        <input type="text" id="desc" placeholder="description" required>
        <button onclick="createTodo()">Add</button>
    </form>
    <ul id="todo-list"></ul>
    
    <script src="/static/script.js"></script>

</body>
</html>