<html>
<head>
    <title>To-Do App - Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 style="align-items: center">Login</h1>
    <form>
        <label for="email">Enter Your Mail</label>
        <input type="email" id="email" placeholder="example@gmail.com" required>
        <label for="password">Enter Your Password</label>
        <input type="password" id="password" placeholder="password" required>
        <button type="button" onclick="login()">Login</button>
        <span>Don't Have an Account? <a href="/signup">Sign up</a></span>
    </form>
    
    <script src="/static/script.js"></script>
</body>
</html>