<html>
<head>
    <title>To-Do App - Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 style="align-items: center">Create Account</h1>
    <form>
        <label for="email">Enter Your Mail</label>
        <input type="email" id="email" placeholder="example@gmail.com" required>
        <label for="password">Enter Your Password</label>
        <input type="password" id="password" placeholder="password" required>
        <button type="button" onclick="signUp()">Create Account</button>
        <span>Already Have an Account? <a href="/login">Login</a></span>
    </form>
    <button onclick="googleLogin()">Login with Google</button>

    <script src="/static/script.js"></script>
</body>
</html>